body.login{
    background:white url('../images/login/fondoLogoPGR.png');
    margin:0px;
    text-align:center;
    font-family:Century Gothic;
    font-size:16px
}
body.login div.contenedor{
    width:1000px;
    height:573px;
    margin:auto;
    position:relative;
    background:white;
    -moz-border-radius: 0.0em 0.7em 0.7em 0.7em;/*firefox*/
    -webkit-border-radius: 0.0em 0.7em 0.7em 0.7em;/* Safari */
    -ms-border-radius: 0.0em 0.7em 0.7em 0.7em;/* IE */
    -webkit-box-shadow: 0px 0px 10px #999;
    -moz-box-shadow: 0px 0px 10px #999;
    border: 1px solid #C5D6EC;
}
body.login div.contenedorIzq{
    width:814px;
    height:100%;
    float:left;
    background:transparent url('../images/login/fondoPagina.png');
    border-left:1px solid #c5d6ec;
    border-bottom:1px solid #c5d6ec;
}
body.login div.logoUniversidad{
    width:184px;
    height:187px;
    float:left;
    background:transparent url('../images/login/logoUniversidad.png');
}
body.login div.contenedorDer{
    width:183px;
    height:386px;
    float:left;
    background:transparent url('../images/login/fondoPagina.png');
    border-right:1px solid #c5d6ec;
    border-bottom:1px solid #c5d6ec;
}
body.login div.encabezado{
    background:transparent url('../images/login/titulo.png') no-repeat;
    float:left;
    width:750px;
    height:118px;
}
body.login div.tituloEncabezado{
    font-size:24px;
    font-family:Century Gothic;
    font-weight:bold;
    color:#31529c;
    float:right;
    margin-right:25px
}
body.login div.subtituloEncabezado{
    font-style:italic;
    font-size:15px;
    font-family:Century Gothic;
    color:#387cb5;
    float:right;
    margin-right:25px
}
span.capitalLetter{
    font-size:30px
}

body.login div.InicionSesion{
    position:absolute;
    top:200px;
    left:0px;
    width:100%
}
body.login div.loginCentrado{
    width:874px;
    margin:auto
}
body.login div.fondoLogin{
    background:transparent url('../images/login/fondoLogin.png');
    float:left;
    width:537px;
    height:291px;
}
body.login div.marquesina{
    background:transparent url('../images/login/marquesina.png');
    float:left;
    width:337px;
    height:291px;
}
body.login div.logo{
    background:transparent url('../images/login/rrhh.png');
    float:left;
    width:242px;
    height:231px;
    margin:11px 0 0 21px;
}
body.login div.tituloVentana{
    color:#31529c;
    margin:5px 0 0 18px;
    text-align:left;
    width:100%;
}
body.login div.InfoUniversidad{
    position:absolute;
    bottom:5px;
    left:0px;
    width:100%;
    text-align:center;
    color:#7aa1d8;
}
body.login div.formLogin{
    float:left;
    margin-top:50px;
    margin-left:30px;
    text-align:left;
}
body.login div.label{
    color:white;
}
body.login div.separador{
    width:100%;
    height:18px;
    margin-top:-10px
}
body.login a.btn{
    display:block;
    width:176px;
    height:25px;
    margin-top:60px;
    background:url('../images/login/btnCen.gif') repeat-x 0 0 transparent;
    border-right:1px solid #B7B7B7;
    text-decoration:none;
    text-align:center;
    color:#31529c;
}
body.login a.btn div{
    padding-top:1px
}
body.login a.btn:hover{
    background:url('../images/login/btnCenHover.gif') repeat-x 0 0 transparent;
}

#sombra {
    background: url("../images/login/fondoPagina.png'") no-repeat 100% 100%;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 200px;
}

#sombra div {
    background: #FFF;
    width: 200px;
}
