/*
 * After modifying this style sheet, refresh the page being designed to see the effect of the modification.
 * Click the Refresh button in the Visual Designer toolbar to refresh the page.
 */

/* Style rules to make Java Server faces Standarad data tables look better */

.list-header {
  background-color: #eeeeee;
  font-size: larger;
  font-weight: bold;
}

.list-paging-header {
  background-color: white;
}

.list-paging-footer {
  background-color: white;
}

.list-row-even {
}

.list-row-odd {
  background-color: #eeeeee;
}

/* Style rules for message severity levels */

.infoMessage {
  color: black;
}

.warnMessage {
  color: orange;
  font-weight: bold;
}

.errorMessage {
  color: red;
  font-weight: bold;
}

.fatalMessage {
  color: red;
  font-style: italic;
  font-weight: bold;
}

.DatSelContent_sun4{
   width:188px !important;
}


/* wnro inicio */
.fondo2
{
    background-image: url('../images/fondos/fondoPagina.png');
}

/* wnro fin */



.fondo
{
    -moz-border-radius: 25px 25px; /* Firefox */
    -webkit-border-radius: 25px 25px; /* Safari  */
    border: 1px solid #036BA7;
    background:transparent url('../images/fondos/fondoPagina.png');
    width:1021px;
    height: 765px;
    position: absolute;
    top: 0%;
    left: 50%;
    margin-top: 0px;
    margin-left: -520px;
}


.titulo
{
    left: 0px;
    top: 134px;
    width:1020px;
    position: absolute;
}

.menulateral
{
    left: 5px;
    top: 169px;
    position: absolute;
}

.areatrabajo
{
    -moz-border-radius: 5px 7px; /* Firefox */
    -webkit-border-radius: 5px 7px; /* Safari  */
    border: 1px solid #036BA7;
    height: 550px;
    width: 820px;
    left: 174px;
    top: 169px;
    padding: 10px;
    position: absolute;
}

.piepagina
{
    position: absolute;
    top: 745px;
    left: 0px;
}

.encabezado
{
    position: absolute;
    top: 0px;
    left: 0px;
}

.areacompleta
{
     -moz-border-radius: 5px 7px; /* Firefox */
    -webkit-border-radius: 5px 7px; /* Safari  */
    left: 22px;
    top: 169px;
    position: absolute;
    border: 1px solid #036BA7;
    height: 560px;
    width: 990px
}

.divinterno {
    -moz-border-radius: 5px 7px; /* Firefox */
    -webkit-border-radius: 5px 7px; /* Safari  */
    border: 1px solid #036BA7;
}

.encabezado{
        background:transparent url('../images/fondos/encabezado.png');
        float:left;
        width:656px;
        height:110px;
}

.tituloEncabezado{
        font-size:24px;
        font-family:Century Gothic;
        font-weight:bold;
        color:#31529c;
        float:right;
        margin-right:25px
}

.subtituloEncabezado{
        font-style:italic;
        font-size:15px;
        font-family:Century Gothic;
        color:#387cb5;
        float:right;
        margin-right:25px
}




#sombra {
  background: url("../images/login/fondoPagina.png'") no-repeat 100% 100%;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 200px;
}

#sombra div {
  background: #FFF;
  width: 200px;
}


